.bills-container {
    box-shadow: 2px 5px 20px gray;
    height: auto;
    margin-top: 100px;
}

.add-bill-form-control {
    margin: auto;
}

.bills-list li {
    list-style: none;
    align-items: center;
}