.bills-container {
    width: 500px;
    box-shadow: 2px 5px 20px gray;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

.filter-nav {
    height:50px;
}

.filter-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}